body {
    font-family: Arial, serif;
}

/* Laufband */
#laufband_background {
    display: none;
    position: fixed;
    width: 200px;
    height: 700px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;

    background-color: gray;
    z-index: 99;
}
#laufband {
    position: relative;
    width: 200px;
    height: 15000px;
    top: -14000px;

    background-color: lightgrey;
}
#laufband_zeiger {
    position: absolute;
    width: 200px;
    height: 5px;
    top: 348px;

    background-color: white;
}
.block {
    position: absolute;
    display: inline;
    width: 200px;
    height: 200px;
    text-align: center;

    font-size: 50px;
}
.bigBlock {
    position: fixed;
    display: inline;
    width: 200px;
    height: 200px;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-animation-name: bigBlockAni;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;

    font-size: 30px;
    z-index: 99;
}
@-webkit-keyframes bigBlockAni {
    0% {transform: scale(1,1)}
    25% {transform: scale(1.5,1.5)}
    75% {transform: scale(1.5,1.5)}
    100% {transform: scale(0,0)}
}

/* Inventar */
#inv_flexContainer {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: auto;

    background-color: black;
}
.inv_flexItem {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 10px;
    padding: 15px;

    background-color: white;
    color: black;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
.inv_flexItemAnzahl {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 30px;
    height: 18px;
    border-radius: 10px;

    color: white;
    background-color: cornflowerblue;
}

/* Kisten-Inventar */
#kistenInv_flexContainer {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    overflow-x: auto;

    background-color: orange;
}
.kistenInv_flexItem {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 15px;

    background-color: white;
    color: black;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}